<!DOCTYPE>
<html>
  <head> 
    <title>Grades</title>
    <!-- Custom stylesheets -->
    <!-- Thymeleaf link expression will by default look into static -->
    <link th:href="@{/grades-stylesheet.css}" rel="stylesheet">
  </head>
  <body>

    <div class="topnav">
      <a>Form</a>
      <a>Grades</a>
    </div>

    <div class= "container">
      <h2> Grades </h2>
      <table id="table"> 
        <tr>
          <th>Student</th>
          <th>Subject</th>
          <th>Score</th>
        </tr>
        <!-- <tr>
            <td th:text="${grade.name}"></td>
            <td th:text="${grade.subject}"></td>
            <td th:text="${grade.score}"></td>
        </tr> -->
        <!-- Bind entire row to the grade Model object -->
        <!-- <tr th:object="${grade}">
            <td th:text="*{name}"></td>
            <td th:text="*{subject}"></td>
            <td th:text="*{score}"></td>
        </tr> -->

        <tr th:each="grade: ${grades}">
            <td th:text="${grade.name}"></td>
            <td th:text="${grade.subject}"></td>
            <td th:text="${grade.score}"></td>
        </tr>
      </table>
    </div>
    
  </body>
</html>